<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Export Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="button-group">
      <ion-button expand="block" (click)="initializePDF()">Create PDF</ion-button>
      <ion-button expand="block" color="success" *ngIf="isRendered" (click)="downloadPdf()">Download PDF</ion-button>
    </div>
    <div *ngIf="isRendered" class="rendered-pdf">
      <pdf-viewer [src]="pdfFileUri" [render-text]="true" [original-size]="false"
        style="width: 100%; height: 100%;"></pdf-viewer>
    </div>
  </div>
</ion-content>
