.custom-select {
    background-color: transparent;
    margin-top: 2vh;

}

ion-list {
    background-color: transparent;
    // padding: 0.5vh 0.5vw;
}

ion-item * {
    background-color: transparent;
    padding: 0;
}

ion-select {
    background-color: transparent;
}

ion-select-option {
    background-color: transparent;
}